html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* ****** main ****** */
body {
  justify-content: center;
  margin-top: 3rem;
  background: #e7e3df;
  display: flex;
}

.main {
  height: 60vh;
  width: 60vw;
  max-height: 300px;
  min-height: 100px;
  max-width: 700px;
  min-width: 420px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
}

/* ****** title ****** */
.title {
  height: 30%;
  max-height: 30px;
  width: 90%;
  border-bottom: 2px solid black;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: flex-end;
}

/* ****** menu ****** */
.menu {
  width: 90px;
  height: 100%;
  min-height: 100px;
  padding: 10px 5px 0 0;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: flex-end;
}

.vertical-line {
  height: 55%;
  width: 1%;
  border-left: 1px solid black;
  position: absolute;
  top: 40px;
  left: 90px;
  z-index: -1;
}

.btn {
  width: 75px;
  border: none;
  background: transparent;
  border-radius: 3px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn_green {
  color: rgb(3, 95, 3);
}

.btn_red {
  color: rgb(204, 17, 17);
}

.btn:hover {
  font-weight: 600;
}

.highlight {
  background: rgba(255, 255, 255, 0.3);
}

/* ****** display ****** */
.display {
  height: 70%;
  width: 78%;
  min-height: 100px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

/* submit form */
.form {
  height: 60px;
  width: 100%;
  padding-top: 10px;
  display: flex;
}

.form__btn {
  width: 110px;
  background: rgb(81, 4, 136);
  color: rgb(255, 255, 255);
  border-radius: 0 5px 5px 0;
  font-size: 1.1rem;
}

.input {
  width: 100%;
  padding-left: 3px;
  border-radius: 5px 0 0px 5px;
  border: none;
  font-size: 1.2rem;
}

.input:focus {
  outline: none;
}

/* notes */
.notes-container {
  height: 100%;
  width: 100%;
  padding: 5px 23px 0 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: overlay;
  overflow-x: hidden;
}

.note {
  height: 14px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  position: relative;
}

.note:hover {
  background: rgba(255, 255, 255, 0.3);
}

.note__text {
  width: calc(100% - 40px);
  padding-left: 3px;
  overflow-y: scroll;
}

.note__text::-webkit-scrollbar {
  display: none;
}

.note__options {
  height: 100%;
  width: 25px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.note__btn {
  height: 100%;
  width: 10px;
  z-index: 999;
}

.note__edit {
  height: 5px;
  width: 5px;
}

.checkbox {
  height: 100%;
  width: 15px;
  outline: none;
  border: none;
}

.edit {
  background: rgba(255, 255, 255, 0.3);
  color: grey;
}

/* popup */
.popup {
  height: 2rem;
  width: 10rem;
  border-radius: 8px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 700;
  opacity: 0;
  transform: translateY(-100%);
  transition: linear 0.3s;
}

.green {
  background: lightgreen;
  transform: translateY(-0%);
  opacity: 1;
}

.error {
  background: rgb(247, 37, 37);
  transform: translateY(-0%);
  opacity: 1;
}
